header {
	background-color: white;
	margin: 0;
	width: 100%;
	grid-area: header;
	a {
		&:hover {
			color: crimson;
		}
	}

}

.bar-btn{
    font-size: 25px;
    cursor: pointer;
    
}

.navegacion{
    display: flex;
    text-align: center;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-around;
}

.menu{
    display: flex;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    &__item--oculto{
        display: none;
    }
    
}

.header__icono{
    display: none;
}

.logo{
    font-size: 2em;
    color: crimson;
}