@media screen and (max-width: 1023px) {
    .contenedor{
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
    }

    .opciones{
        height: 1700px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .quienSoy {
        flex-direction: column;
        height: 900px;
        .img-container {
            height: 400px;
            width: 400px;
        }
    }
    .contenedor__caract {
        .img-contenedor {
            height: 400px;
            width: 400px;
        }
    }
    .ventajas {
        background-color: rgb(31, 31, 31);
        display: flex;
        align-content: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .ventajas__imagen {
        object-fit: cover;
        border-radius: 5px;
        width: 200px;
        height: 200px;
    }
    

}

@media screen and (max-width: 430px) {

    header {
        width: fit-content;
    }
    
    .navegacion{
        flex-direction: column;
        width: 425px;
    }

    .menu{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .principal{
        margin: 0;
        width: 425px;
    }

    .contenedor {
        width: 425px;
        .video {
            width: 425px;
            padding-left: 0;
            iframe {
                width: 100%;
            }
        }
    }
    .titulo__opciones {
        height: 100px;
        padding: 10px;
        h3 {
            height: 200px;
        }
    }
    .quienSoy {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        font-size: 1rem;
        height: 100%;
        .texto {
            padding-bottom: 20px;
        }
    }
    .contenedor__caract {
        flex-direction: column;
        height: 600px;
        justify-content: space-evenly;
        .img-contenedor {
            height: 300px;
            width: 300px;
        }
    }
    .ventajas {
        background-color: rgb(31, 31, 31);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .ventajas__imagen {
        margin-left: 70px;
        object-fit: cover;
        border-radius: 5px;
        width: 200px;
        height: 200px;
    }
    
}