.quienSoy {
	display: flex;
	height: 750px;
	background-color: rgb(31, 31, 31);
	text-align: center;
	justify-content: space-around;
	align-items: center;
	.img-container {
		background-image: url("../imagenes/IMG_6676_\(2\).jpg");
        background-size: cover;
		background-position: center center;
		height: 500px;
		width: 500px;
	}
	.texto {
		color: white;
		h2 {
			font-size: 35px;
			padding-bottom: 10px;
		}
	}
}

.color-acento{
    color: crimson;
}